body {
font-family: 'mastodon-font-sans-serif', sans-serif;
  background: linear-gradient(transparentize($ui-base-color,0.05), transparentize($ui-base-color,0.1)), image-url('background-photo.jpeg');
  background-size: cover;
  background-attachment: fixed;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: $primary-text-color;
  padding-bottom: 140px;
  text-rendering: optimizelegibility;
  font-feature-settings: "kern";
  text-size-adjust: none;

  &.app-body {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    background: $ui-base-color;
  }

  &.embed {
    background: transparent;
    margin: 0;

    .container {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  &.admin {
    background: darken($ui-base-color, 4%);
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  @media screen and (max-width: 360px) {
    padding-bottom: 0;
  }
}

button:focus {
  outline: none;
}

.app-holder {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* Markdown */

.status__content {

  em{
    font-style: italic;
  }

  strong{
    font-weight: bold;
  }

  code.block-code{
    display: block;
    border-left: 2px solid $classic-base-color;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  code.inline-code{
    color: $classic-base-color;
    background: $color_inlineCode;
    padding: 0 5px 0 5px;
  }

  pre{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
  }

  p ~ blockquote {
    margin-top: -8px;
  }

  blockquote{
      padding-left: 8px;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      color: $classic-base-color;
      display: block;
      border-left: 4px solid $classic-base-color;
  }

  ul{
    list-style: inside;
  }

  ul>li>ul{
    padding-left: 1em;
    list-style: inside circle;
  }

  ol{
    list-style: inside decimal;
  }

  ol>li>ol{
    padding-left: 1em;
  }


  table {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #3c3c3c;
    display: block;
    width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
  }

  table tr{
    background-color: #9dcbe9;
  }

  table th, table td{
    padding: 6px 13px;
    border: 1px solid #477ca5;
  }

  table th{
    font-weight: 600;
  }

  table thead tr{
    background-color: #50aae6;
  }

  td, th{
    padding: 0;
  }

}
