body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(transparentize($color1,0.05), transparentize($color1,0.1)), image-url('background-photo.jpeg');
  background-size: cover;
  background-attachment: fixed;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: $color5;
  padding-bottom: 140px;
  text-rendering: optimizelegibility;
  font-feature-settings: "kern";
  text-size-adjust: none;

  &.app-body {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    background: $color1;
  }

  &.embed {
    background: transparent;
    margin: 0;

    .container {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  &.admin {
    background: darken($color1, 4%);
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  @media screen and (max-width: 360px) {
    padding-bottom: 0;
  }
}

button:focus {
  outline: none;
}

.app-holder {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* Markdown */

em{
  font-style: italic;
}

strong{
  font-weight: bold;
}

code.block-code{
  display: block;
  border-left: 2px solid $color4;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

code.inline-code{
  color: $color5;
  background: $color_inlineCode;
  padding: 0 5px 0 5px;
}

pre{
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

p ~ blockquote {
  margin-top: -8px;
}

blockquote{
    padding-left: 8px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: $color3;
    display: block;
    border-left: 4px solid $color4;
}

ul{
  list-style: inside;
}

ul>li>ul{
  padding-left: 1em;
  list-style: inside circle;
}

ol{
  list-style: inside decimal;
}

ol>li>ol{
  padding-left: 1em;
}


table {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #3c3c3c;
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

table tr{
  background-color: #9dcbe9;
}

table th, table td{
  padding: 6px 13px;
  border: 1px solid #477ca5;
}

table th{
  font-weight: 600;
}

table thead tr{
  background-color: #50aae6;
}

td, th{
  padding: 0;
}
